.aside {
    /* width: 100%; */
}

.aside_block {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin: 1rem;
    margin-top: 6rem;
    padding: 1rem;
    width: fit-content;
    /* position: fixed; */
}

.aside_block button {
    display: flex;
    align-items: center;
    margin: 1rem;
    background: none;
	/* color: inherit; */
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	/* outline: inherit; */
    width: 14rem;
}

.aside_block svg {
    margin-right: 1rem;
}

.aside_block button:hover {
    background: rgba(119, 119, 119, 0.377);
}