.block {
    margin: 2rem;
}

.post {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    
    box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

.btn_block {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.icon_action {
    font-size: 1.5rem;
}

.icon_action_btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-text-secondary);
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
}

.post h3 {
    margin-bottom: 1rem;
}

.pic_block p {
    margin: 1rem 0;
}

.link_flair_text {
    display: table;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(161 211 225);
}

.img {
    width: 60%;
}

.search_results {
    /* width: 80%; */
}

