.block {
    margin: 2rem;
    /* margin-right: 25rem; */
    /* border: 1px solid; */
}

.post {
    margin: 1rem;
    padding: 1.5rem 2rem;
    /* border: 1px solid; */
    box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

.img {
    max-width: 50%;
}

.search_results {
    width: 80%;
}