.comment {
    margin: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 6px 16px 2px rgb(78 117 187 / 58%);
    padding: 0.5rem 1.2rem;
    border-radius: 23px;
}



.comment_block {
    display: flex;
    line-height: 20px;
    font-size: small;
}

#comments_num {
    opacity: 1;
}

.comment_value_block {
    display: flex;
    align-items: center;
}

.comment_value_block span {
    margin: 0 0.2rem;
    font-weight: 700;
}

.comment_img {
    width: 20%;
}