.main {
    /* display: flex; */
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.main h1 {
    display: flex;
    justify-content: center;
    margin: 6rem 2rem 2rem 2rem;
}

.width60 {
    width: 60%;
}

.flex {
    display: flex;
}