
.main {
    width: 100%;
}

.main h1 {
    display: flex;
    justify-content: center;
    margin: 6rem 2rem 2rem 2rem;
}

.width_100 {
    max-width: 100%;
}

.width100 {
    width: 100%;
}

.width_70 {
    width: 70%;
}

.width_60 {
    width: 60%;
}

.width_50 {
    width: 50%;
}

.width_40 {
    width: 40%;
}

.flex {
    display: flex;
}
